<h2 mat-dialog-title>Edit Product</h2>
<mat-dialog-content>
  <form [formGroup]="productoForm" (ngSubmit)="guardarEdicion()">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="nombre">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="number" placeholder="Precio" formControlName="precio">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Categorías" formControlName="categorias">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Proveedor" formControlName="proveedor">
          <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
            {{ proveedor.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelarEdicion()">Cancel</button>
  <button mat-button color="primary" type="submit" [disabled]="productoForm.invalid" (click)="guardarEdicion()">Save</button>
</mat-dialog-actions>
